*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-size: cover;
background-position: center;
}

.sub{

    display: flex;
    width: 50vh;
    height: 10%;
    position: absolute;
    top: 20%;
}

#selsub{
    width: 40%;
    margin-top: 10px;
}

#branch{
    width: 60%;
    height: 40px;
    font-weight: 600;
    border-radius: 8px;
}

#cardatt{
    background-color:bisque;
    height: 30%;
    width: 50%;
    border-radius: 20px;
    border-style: none;
    text-align: center;
}

#allow{position: absolute;
    font-size: 1.2rem;
    text-decoration: none;
    width: 30%;
    margin-top: 80px;
    right: 34%;
}

#btn{
    position: absolute;
    margin-top: 30%;
    padding: 15px 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: 0 !important;
    outline: 0 !important;
    background: #4F46E5;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  #btn:active {
      box-shadow: none;
    }
  
    .ri-arrow-left-double-line{
        position: absolute;
        margin-top: 13px;
        right: 105%;
        }